# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings
xcuserdata/

Pods/

wtm?.GoogleService-Info.plist

.DS_Store

## AccessKey File
wtm?/Supporting Files/AccessKeys.swift
.DS_Store
wtm?/.DS_Store
wtm?/Assets.xcassets/.DS_Store
