# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings
xcuserdata/

Pods/

.DS_Store

## AccessKey File
wtm?/Supporting Files/AccessKeys.swift
